.profile-sidebar {
    text-align: center;
}

main {
    margin-top: 4em;
    overflow: hidden;
}
.profile-userbuttons {
    overflow: hidden;
    text-align: center;
}

.profile-usertitle {
    text-align: center;
}

div#line{
    margin: 30px;
    float: left;
}

.card {
    padding: 0.5rem;
}

.card-body {
    padding: 0;
}

button {
    padding: 0.25em;
}

button.btn.btn-success.btn-md {
    margin: 0.5em;
}